<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p><%= t("appointmentWith") %> <%= @appointment.doctor.name %> <%= t("isConfirmed")%></p>
<p>
  <%= t("orderDetails") %><br>
  --------------------------
</p>
<p><%= t("patientName") %> <%= @appointment.user.name %></p>
<p><%= t("patientEmail") %><%= @appointment.user.email %></p>
<p><%= t("doctorsName") %><%= @appointment.doctor.name %></p>
<p><%= t("doctorsAddress") %><%= @appointment.doctor.address %></p>
<p><%= t("appointmentStartTime") %><%= @appointment.start_time %></p>
<p><%= t("scheduledWith") %> <%= @appointment.doctor.name %> <%= t("at") %> <%= @appointment.start_time %><%= t("beOnTime") %></p>
<p><%= t("checkDetailsHere") %></p>
<%= link_to "My Appointments", show_url(:user => @appointment.user) %>
</body>
</html>